name: CI/CD
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    name: Build job
    runs-on: ubuntu-latest
    #env:
    #  Version: ${{ steps.gitversion.outputs.MajorMinorPatch }}
    #  CommitsSinceVersionSource: ${{ steps.gitversion.outputs.CommitsSinceVersionSource }}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Setup GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: 6.x
    - name: Determine Version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v4.2.0
    - name: Display GitVersion outputs
      run: |
        echo "Version: ${{ steps.gitversion.outputs.MajorMinorPatch }}"
        echo "CommitsSinceVersionSource: ${{ steps.gitversion.outputs.CommitsSinceVersionSource }}"
    - name: Create Release
      if: steps.gitversion.outputs.CommitsSinceVersionSource > 0 && github.ref == 'refs/heads/main' #Only create a release if there has been a commit/version change and running on the main branch   
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ steps.gitversion.outputs.MajorMinorPatch }}
        release_name: Release ${{ steps.gitversion.outputs.MajorMinorPatch }}  
    - name: Update major version tag
      uses: richardsimko/update-tag@v1
      if: steps.gitversion.outputs.CommitsSinceVersionSource > 0 && github.ref == 'refs/heads/main'
      with:
        tag_name: "v${{ steps.gitversion.outputs.Major }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Create Major version Release (update) #Create or Update the major version release. e.g. 'v2'
      uses: ncipollo/release-action@v1
      if: steps.gitversion.outputs.CommitsSinceVersionSource > 0 && github.ref == 'refs/heads/main' 
      with:
        tag: "v${{ steps.gitversion.outputs.Major }}"
        name: "v${{ steps.gitversion.outputs.Major }}"
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }} 
    - name: Update minor version tag
      uses: richardsimko/update-tag@v1
      if: steps.gitversion.outputs.CommitsSinceVersionSource > 0 && github.ref == 'refs/heads/main' 
      with:
        tag_name: "v${{ steps.gitversion.outputs.Major }}.${{ steps.gitversion.outputs.Minor }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Create Minor version Release (update) #Create or Update the minor version release. e.g. 'v2.1'
      uses: ncipollo/release-action@v1
      if: steps.gitversion.outputs.CommitsSinceVersionSource > 0 && github.ref == 'refs/heads/main' 
      with:
        tag: "v${{ steps.gitversion.outputs.Major }}.${{ steps.gitversion.outputs.Minor }}"
        name: "v${{ steps.gitversion.outputs.Major }}.${{ steps.gitversion.outputs.Minor }}"
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}
